/* FONTS */
@font-face {
    font-family: 'ropa_sansitalic';
    src: url('../fonts/ropasans-italic-webfont.eot');
    src: url('../fonts/ropasans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ropasans-italic-webfont.woff2') format('woff2'),
         url('../fonts/ropasans-italic-webfont.woff') format('woff'),
         url('../fonts/ropasans-italic-webfont.ttf') format('truetype'),
         url('../fonts/ropasans-italic-webfont.svg#ropa_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ropa_sansregular';
    src: url('../fonts/ropasans-regular-webfont.eot');
    src: url('../fonts/ropasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ropasans-regular-webfont.woff2') format('woff2'),
         url('../fonts/ropasans-regular-webfont.woff') format('woff'),
         url('../fonts/ropasans-regular-webfont.ttf') format('truetype'),
         url('../fonts/ropasans-regular-webfont.svg#ropa_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.home{ 
  background: url(../images/home-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.black {
  background-color: #000;
  height: 20px;
}

.logo-header {
  background-color: #282624;
  padding: 15px 0;
}

.amarillo{
	background-color: #FCED18;
	height: 500px;
	opacity: 0.8;
	
}

.navbar-default{
  background-color: #373534;
  border:none;
  margin-bottom: 0;
  border-radius: 0;
}

.home .navbar-default{
	background-color: transparent;
	border:none;
	margin-top: 150px;
	margin-bottom: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #555;
 	border-bottom: 4px solid #FCED18;
 	background-color: transparent;
}

.navbar-nav {
  margin-left: -30px;
}

.navbar-nav li a{
  color:#939597;
  font-size:22px;
  font-family: 'ropa_sansitalic';
  text-transform: uppercase;
  margin: 0 15px;
  padding: 15px 0;
}

.home .navbar-nav li a{
  padding: 15px 15px;
  margin: 0;
}