<div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand hidden-md hidden-lg" href="#">Brand</a> -->
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="index.html" class="section-change" data-section="inicio">inicio</a></li>
              <li><a href="somos.html" class="section-change" data-section="somos">somos</a></li>
              <li><a href="hacemos.html" class="section-change" >hacemos</a></li>
              <li><a href="estilo.html" class="section-change" >estilo</a></li>
              <li><a href="contacto.html" class="section-change" >contacto</a></li>
            </ul>
     
           
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <section class="amarillo">
        <div>
          <img src="images/logo-home.png" style="vertical-align:center" class="img-responsive" />
        </div>
      </section>
      <div class="social">
        <ul>
          <li><a href="" title="Facebook" target="_blank"a><img src="images/facebook-icon.png" /></a></li>
          <li><a href="" title="Twitter" target="_blank"a><img src="images/twitter-icon.png" /></a></li>
          <li><a href="" title="Pinterest" target="_blank"a><img src="images/pinterest-icon.png" /></a></li>
          <li><a href="" title="LinkedIn" target="_blank"a><img src="images/linkedin-icon.png" /></a></li>
          <li><a href="" title="Google+" target="_blank"a><img src="images/google-icon.png" /></a></li>
        </ul>
      </div>

     
</div>
